/*
Theme Name: codium-child
Template: codium

Не обязательные параметры:
Author: Summersid
Author Summersid.ru
Version: 1.0
*/

/* импортируем стили родительской темы */
/* @import url("../codium/style.css"); */

/* Свои дополнительные стили */
body {
	background-image: url(../codium-child/image/presence.png);
	background-repeat: repeat;
}

h1.blogtitle a:hover, .blogtitle a:hover, a:hover {
	color: red;
    background-color: transparent;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.entry-meta .tag-links a {
	background-color: transparent;
}

.entry-meta .tag-links a:hover,
.entry-meta a:hover,
.entry-title a:hover,
.sidebar a:hover {
    display: inline-block;
	color: tomato;
    background: #444;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 4px #444;
}

span.cat-links a:hover {
	color: tomato;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.entry-content a:visited {
    color: darkred;
}

input[type="search"] {
    padding: 5px;
    border-radius: 5px;
    outline: none;
    background: #f1f2f4;
    color: #444;
    border-color: silver;
}

.widget ul, .widget .tagcloud {
    padding: 0 10px;
}

.entry-content {
    font: 1.4em/1.8em Helvetica,Arial,sans-serif;
}

#content code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 14px;
    line-height: normal;
    background-color: #f3f3f3;
    display: block;
    padding: 10px;
    text-align: left;
}

#content code:hover {
    background-color: #dedede;
    cursor: default;
}

#wrapper button, #wrapper input[type="submit"] {
    line-height: 25px;
}